* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow: hidden;
    margin: 0;
    background-image: linear-gradient(20deg, rgb(48, 45, 45), rgb(136, 133, 136), rgb(0, 0, 0));
}

.container {
    padding: 16px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    
    transform: perspective(900px) rotateX(10deg);
    overflow: hidden;
    
}




.content-container{
    display: flex;
    border: 5px solid #1b1a1a;
    background-color: #000000;
    
}



.buttons-container {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5px;
    display: grid;
    width: 400px;
    gap: 8px;
    margin-top: 5px;
    font-size: 10px;
}

.buttons-container button {
    border: 5px solid rgb(255, 255, 255, 0.50);
    box-shadow: 10px 10px 12px  rgba(0, 0, 0, 0.5);
    font-family: "Press Start 2P", sans-serif;
    transition: filter 0.2s;
    border-radius: 50px;
    font-weight: bold;
    font-size: 12px;
    height: 32px;
}

.buttons-container button:hover {
    filter: brightness(0.8);
}


button {
    cursor: pointer;
}

button:disabled{
    cursor: not-allowed;
    opacity: 0.1;
}


#start-button{
    background-color: rgb(255, 255, 255);
    border: 5px solid #333;
    color: black;
}

#restart-button {
    background-color: rgb(255, 255, 255);
    border: 5px solid #333;
    color: rgb(0, 0, 0);
}


.grid{
    width: 200px;
    height: 400px;
    background: linear-gradient(rgba(13, 47, 89, 1), rgba(0, 0, 0, 1));
    box-shadow: 10px 10px 12px  rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;

}

.grid div {
    width: 20px;
    height: 20px;
}

.content-right{
    width: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 10px solid #333;
    box-shadow: 10px 10px 12px  rgba(0, 0, 0, 0.5);
    background: linear-gradient(rgb(128, 15, 15), rgba(0, 0, 0, 1));
}


.content-right h3 {
    width: 120px;
    height: 100px;
    font-size: 15px;
    margin-top: 20px;
    letter-spacing: 1px;
    color: rgb(0, 247, 255);
    border: 5px solid #ffca1d;
    background-color: black;
    font-family: "Press Start 2P", sans-serif;
    box-shadow: 5px 5px 5px 0  rgba(192, 120, 13, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    flex-direction: column
}


.score {
    font-size: 10px;
    font-weight: bold;
    margin-top: 5px; 
}



.mini-grid{
    margin-top: 30px;
    width: 120px;
    height: 120px;
    background: black;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 0  rgba(192, 120, 13, 0.5);
}

.mini-grid div {
    border: 2px solid #8a8a8a;
    width: 20px;
    height: 20px;
}





.lines-counter {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 2px;
    background-color: #000000;
    border: 5px solid #ffca1d;
    box-shadow: 5px 5px 5px 0  rgba(192, 120, 13, 0.5);
    padding: 10px;
}

.lines-counter p {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 15px;
    color: #ffe604;
    font-weight: bold;
    margin-top: 10px;
}

#lines-count {
    font-size: 28px;
    font-weight: bold;
    font-size: 15px;
}



.shapePainted{
    width: 20px;
    height: 20px;
    border: 1px solid rgb(17, 17, 17);
    box-shadow: 5px 5px 5px 5px transparent, inset 3px 3px 0 rgba(121, 117, 117, 0.5), inset 0 0 0 2px white;
    background-color: red;
}

.shapePainted::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    padding: 0.10px 0.10px;
    background-color: #fff; /* Cor dos pontos de pixel */
    position: absolute;
}


.blue{
    background-color: rgb(1, 1, 185);
}

.red{
    background-color: rgb(197, 0, 0);
} 

.green{
    background-color: rgb(0, 255, 0);
} 

.orange{
    background-color: rgb(255, 94, 0);
}

.yellow{
    background-color: rgb(199, 199, 6);
} 

.pink{
    background-color: rgb(204, 33, 62);
}








.mobile-buttons-container {
    margin-top: 2px;
    max-width: 300px;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 50px;
    gap: 9px;
}

.mobile-buttons-container button {
    width: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 12px  rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    border: 5px solid #333;
    font-family: "Press Start 2P", sans-serif;
}

.mobile-buttons-container button span {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 10px 10px  rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-items: center;
}


/*Responsividade*/

@media(max-width: 990px){
    .mobile-buttons-container{
        display: grid;
    }
}


@media (max-width:470px){
    /*
    .content-right {
        margin-left: 16px;
    }
    */

    .container-right h3{
        width: 120px;
        height: 100px;
        font-size: 15px;
        margin-top: 20px;
        letter-spacing: 1px;
        color: rgb(0, 247, 255);
        border: 5px solid #ffca1d;
        background-color: black;
        font-family: "Press Start 2P", sans-serif;
        box-shadow: 5px 5px 5px 0  rgba(192, 120, 13, 0.5);
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        flex-direction: column
    }
    
    .score{
        font-size: 10px;
        font-weight: bold;
        margin-top: 5px; 
    }
}
