/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do corpo */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(20deg, rgb(48, 45, 45), rgb(136, 133, 136), rgb(0, 0, 0));
    font-family: 'Arial', sans-serif;
}

/* Estilo para elementos vazios */
.empty {
    background-color: transparent;
    border: none;
}


/* Estilo para o contêiner de áudio */
#audio-container {
    position: absolute;
    top: 2%; 
    left: 20%; 
    z-index: 9999;
}

/* Estilo base para o botão de mute */
#mute-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    position: relative;
}

/* Estilo para o ícone de alto-falante (padrão) */
#audio-icon.audio-on::before {
    content: "\1F50A"; /* Ícone de alto-falante (🔊) */
}

/* Estilo para o ícone de "mute" */
#audio-icon.audio-off::before {
    content: "\1F507"; /* Ícone de áudio mutado (🔇) */
}



/* Estilo para o contêiner principal */
.container {
    padding: 16px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    transform: perspective(900px) rotateX(10deg);
    overflow: hidden;
}


/* Estilo para o contêiner de conteúdo */
.content-container{
    display: flex;
    border: 5px solid #1b1a1a;
    background-color: #000000;
}


/* Estilo para o contêiner de botões */
.buttons-container {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5px;
    display: grid;
    width: 400px;
    gap: 8px;
    margin-top: 5px;
    font-size: 10px;
}


/* Estilo para os botões */
.buttons-container button {
    border: 5px solid rgb(255, 255, 255, 0.50);
    box-shadow: 10px 10px 12px  rgba(0, 0, 0, 0.5);
    font-family: "Press Start 2P", sans-serif;
    transition: filter 0.2s;
    border-radius: 50px;
    font-weight: bold;
    font-size: 12px;
    height: 32px;
    cursor: pointer;
    
}

/* Efeito de hover nos botões */
.buttons-container button:hover {
    filter: brightness(0.8);
}

/* Estilo para botões desabilitados */
button:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}

/* Estilos para botões específicos */
#start-button{
    background-image: linear-gradient(0deg, white, gray);
    border: 5px solid #333;
    color: black;
}

#restart-button {
    background-image: linear-gradient(0deg, white, gray);
    border: 5px solid #333;
    color: rgb(0, 0, 0);
}


/* Estilo para o contêiner de botões móveis */
.mobile-buttons-container {
    margin-top: 20px;
    max-width: 300px;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 47px 50px;
    gap: 10%;
}

/* Estilo para botões móveis */
.mobile-buttons-container button {
    background-image: linear-gradient(0deg, white, gray);
    box-shadow: 10px 10px 12px  rgba(0, 0, 0, 0.5);
    font-family: "Press Start 2P", sans-serif;
    border: 5px solid #333;
    cursor: pointer;
    width: 55px;
    border-radius: 50%;
    height: 45px;
}

/* Estilo para o texto dentro dos botões móveis */
.mobile-buttons-container button span {
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-items: center;
    line-height: 35px;
    
}

/* Efeito de hover nos botões móveis */
.mobile-buttons-container button:hover {
    filter: brightness(0.8);
}






/* Estilos para o grid principal */
.grid{
    width: 200px;
    height: 400px;
    background: linear-gradient(rgba(13, 47, 89, 1), rgba(0, 0, 0, 1));
    box-shadow: 10px 10px 12px  rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
}

/* Estilos para as células do grid */
.grid div {
    width: 20px;
    height: 20px;
}

/* Estilo para o contêiner de conteúdo à direita */
.content-right{
    width: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 10px solid #333;
    box-shadow: 10px 10px 12px  rgba(0, 0, 0, 0.5);
    background: linear-gradient(rgb(128, 15, 15), rgba(0, 0, 0, 1));
}

/* Estilo para o título no contêiner de conteúdo à direita */
.content-right h3 {
    width: 120px;
    height: 100px;
    font-size: 15px;
    margin-top: 20px;
    letter-spacing: 1px;
    color: transparent; /* Torna o texto original transparente */
    border: 5px solid #ffca1d;
    background-color: black; 
    font-family: "Press Start 2P", sans-serif;
    box-shadow: 5px 5px 5px 0 rgba(192, 120, 13, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    flex-direction: column;
}

/* Aplicando cores diferentes ao texto "SCORE:" usando um gradiente */
.content-right h3::before {
    content: "SCORE:";
    background: linear-gradient(to top, rgb(121, 112, 112), rgb(251, 255, 4)); 
    -webkit-background-clip: text; 
    color: transparent; /* Torna o texto original dentro do pseudo-elemento transparente */
    position: absolute;
}

/* Estilo para a pontuação */
.score {
    font-size: 10px;
    margin-top: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 2px 2px rgb(71, 71, 64), -2px -2px rgb(65, 92, 94);
}





/* Estilo para o mini-grid */
.mini-grid{
    margin-top: 30px;
    width: 120px;
    height: 120px;
    background: black;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 0  rgba(192, 120, 13, 0.5);
}

/* Estilo para as células do mini-grid */
.mini-grid div {
    border: 1px solid #31312f;
    width: 20px;
    height: 20px;
}

/* Estilo para o contador de linhas */
.lines-counter {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 2px;
    background-color: #000000;
    border: 5px solid #ffca1d;
    box-shadow: 5px 5px 5px 0  rgba(192, 120, 13, 0.5);
    padding: 10px;
}


/* Estilo para o texto no contador de linhas */
.lines-counter p {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 15px;
    color: transparent;
    font-weight: bold;
    background: linear-gradient(to top, rgb(121, 112, 112), rgb(251, 255, 4));
    -webkit-background-clip: text;
    margin-top: 10px;
    text-shadow: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/* Estilo para o número de linhas */
#lines-count {
    font-size: 28px;
    font-weight: bold;
    font-size: 15px;
    color: #fffdfd;
    text-shadow: 2px 2px rgb(71, 71, 64), -2px -2px rgb(65, 92, 94);
}





/* Estilo para as peças pintadas no grid */
.shapePainted{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0);
    position: relative;
}


/* Ponto de pixel nas peças pintadas */
.shapePainted::before {
    content: "";
    display: block;
    width: 17px; /*5px*/
    height: 17px; /*5px*/
    padding: 1.10px 1.10px 1.10px;
    background-image: linear-gradient(0deg,rgba(19, 19, 19, 0.3), rgba(255, 255, 255, 0.3));
    box-shadow: 
        1px 1px 5px rgba(98, 168, 153, 0.9), /* Sombra superior */
        4px 4px 4px rgba(0, 0, 0, 0.9), /* Sombra direita */
        -0px -0px 3px rgba(255, 255, 255, 0.9), /* Sombra esquerda */
        -1px 1px 0px rgba(245, 245, 245, 0.9) inset, /* Sombra interna direita */
        1px 1px 1px rgba(255, 255, 255, 0.9) inset, /* Sombra interna direita */
        -1px -1px 2px rgba(255, 255, 255, 0.0) inset; /* Sombra interna esquerda */
    position: relative;
    
}



/* Estilos de cores */
.blue{
    background-color: rgb(4, 62, 156); /* Azul */
}

.red{
    background-color: rgb(191, 13, 13); /* Vermelho */
} 

.green{
    background-color: rgb(12, 184, 6); /* Verde */
} 

.orange{
    background-color: rgb(255, 110, 9); /* Laranja */
}

.yellow{
    background-color: rgb(253, 250, 36); /* Amarelo */
} 

.pink{
    background-color: rgb(122, 4, 101); /* Roxo */
}



/* Tema 1 */
.theme-1-grid {
    background: linear-gradient(0deg, rgb(187, 131, 140), rgb(221, 185, 24));
    
}

.theme-1-content-right {
    border: 10px solid rgb(196, 51, 75);
    box-shadow: 10px 10px 12px  rgba(255, 251, 0, 0.5);
    background: linear-gradient(rgb( grey, rgb(255, 51, 1)));
    
}
.theme-1-mini-grid {
    background-color: rgb(112, 104, 104);
    margin-top: 30px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 0  rgba(255, 0, 0, 0.5);    
}


/* Tema 2 */
.theme-2-grid {
    background: linear-gradient(0deg, rgb(69, 189, 69), rgb(119, 4, 119));
}

.theme-2-content-right {
    border: 10px solid rgb(30, 255, 0);
    box-shadow: 10px 10px 12px  rgba(73, 36, 95, 0.5);
    background: linear-gradient(rgb( black, rgb(104, 77, 201)));
    
}
.theme-2-mini-grid {
    background-color: rgb(155, 138, 216);
    margin-top: 30px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 0  rgba(0, 0, 0, 0.5);    
}


/* Tema 3 */
.theme-3-grid {
    background: linear-gradient(15deg, rgb(184, 107, 107), rgb(3, 42, 168), rgb(184, 178, 178));
}
.theme-3-content-right {
    border: 10px solid rgb(30, 150, 110);
    box-shadow: 10px 10px 12px  rgba(1, 44, 35, 0.5);
    background: linear-gradient(rgb( rgb(21, 44, 119), rgb(63, 92, 255)));
    
}
.theme-3-mini-grid {
    background-color: rgb(24, 71, 75);
    margin-top: 30px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 0  rgba(0, 0, 0, 0.5);    
}

/* Tema 4 */
.theme-4-grid {
    background: linear-gradient(15deg, rgb(69, 123, 133), rgb(2, 36, 75));
}
.theme-4-content-right {
    border: 10px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 12px  rgba(98, 99, 99, 0.5);
    background: linear-gradient(rgb( rgb(59, 1, 45), rgb(69, 68, 71)));
    
}
.theme-4-mini-grid {
    background-color: rgb(0, 0, 0);
    margin-top: 30px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 0  rgba(0, 0, 0, 0.5);    
}

/* Tema 5 */
.theme-5-grid {
    background: linear-gradient(15deg, rgb(109, 7, 7), rgb(2, 36, 75));
}
.theme-5-content-right {
    border: 10px solid rgb(163, 0, 0);
    box-shadow: 10px 10px 12px  rgba(0, 0, 0, 0.5);
    background: linear-gradient(rgb( rgb(44, 1, 34), rgb(5, 5, 5)));
    
}
.theme-5-mini-grid {
    background-image: linear-gradient(15deg, red, black);
    margin-top: 30px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 0  rgba(78, 77, 77, 0.5);    
}


/* Tema 6 */
.theme-6-grid {
    background: linear-gradient(50deg, rgb(14, 14, 14), rgb(66, 66, 66, 0.50));
}
.theme-6-content-right {
    border: transparent;
    box-shadow: 10px 10px 12px  rgba(0, 0, 0, 0.5);
    background: transparent;
    
}
.theme-6-mini-grid {

    display: none;

}

/* Tema 6 */
.theme-7-grid {
    background: linear-gradient(50deg, rgb(0, 95, 51, 0.20), rgba(250, 250, 250, 0.20));
}
.theme-7-content-right {
    border: transparent;
    box-shadow: 10px 10px 12px  rgba(0, 0, 0, 0.5);
    background: transparent;
    
}
.theme-7-mini-grid {

    background: transparent;
    margin-top: 30px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 0  rgba(0, 172, 114, 0.5);  

}


/*Tema de fundo para a fase da chuva */
.theme-rain {
    position: relative;
    background: linear-gradient(0deg, rgb(0, 0, 0), purple);
    z-index: 1;
}
.theme-rain::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/src/assets/images/rain.gif');
    background-repeat: repeat;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}
.theme-rain .shapePainted {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.theme-rain-content-right{
    border: 10px solid #6700bb;
    box-shadow: 10px 10px 12px  rgba(198, 9, 255, 0.5);
    background: linear-gradient(rgb(3, 3, 3), rgb(27, 4, 43));
}
.theme-rain-mini-grid {
    background-color: blueviolet;
    margin-top: 30px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 0  rgba(255, 0, 0, 0.5);
}


/*Tema de fundo para a fase da neve */
.theme-snow {
    position: relative;
    background: linear-gradient(90deg, #ffffff 10%, #d0d0d0 50%, #ffffff 90%);
    z-index: 1; 
}
.theme-snow .shapePainted {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.theme-snow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/src/assets/images/snow.gif');
    background-repeat: repeat;
    background-size: cover;
    opacity: 0.5;
    z-index: -1; 
}
.theme-snow-mini-grid {
    margin-top: 30px;
    width: 120px;
    height: 120px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 0  rgba(10, 255, 214, 0.5);
}
.theme-snow-content-right{
    border: 10px solid #0417c4;
    background-image: linear-gradient(0deg, white, aqua);
    box-shadow: 5px 5px 5px 0  rgba(10, 255, 214, 0.5);
}



/* Caso específico para responsividade */
@media(max-width: 990px){
    .mobile-buttons-container{
        display: grid;
    }
}


@media (max-width:470px){
    .container-right h3{
        width: 120px;
        height: 100px;
        font-size: 15px;
        margin-top: 20px;
        letter-spacing: 1px;
        color: rgb(0, 247, 255);
        border: 5px solid #ffca1d;
        background-color: black;
        font-family: "Press Start 2P", sans-serif;
        box-shadow: 5px 5px 5px 0  rgba(192, 120, 13, 0.5);
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        flex-direction: column
    }
    
    .score{
        font-size: 10px;
        font-weight: bold;
        margin-top: 5px;
        color: white;
    }
}

/* Estilos responsivos para dispositivos móveis *//*
@media screen and (max-width: 768px) {
    #audio-container {
        top: 1px; 
        left: 9%; 
    }
}*/